In [5]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [2]:
X = np.array([[1, 2], [3, 4], [5, 6]])
y = np.array([0, 1, 0])
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [4]:
importances = clf.feature_importances_
importances

array([0.75, 0.25])

In [62]:
df = pd.read_csv('titanic2.csv')

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [64]:
data = df[['Pclass','Fare','Age','Sex','Survived']]
data.dropna(axis = 0, inplace = True)
y = data['Survived']
data.drop(['Survived'],axis = 1, inplace = True)

C:\Users\PythonCode\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
Pclass    714 non-null int64
Fare      714 non-null float64
Age       714 non-null float64
Sex       714 non-null object
dtypes: float64(2), int64(1), object(1)
memory usage: 27.9+ KB

In [69]:
sex_list = list()
for i in data['Sex']:
    if i == 'male':
        sex_list.append(0)
    else:
        sex_list.append(1)

In [70]:
data['Sex'] = sex_list

C:\Users\PythonCode\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [73]:
data.info()
X = data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
Pclass    714 non-null int64
Fare      714 non-null float64
Age       714 non-null float64
Sex       714 non-null int64
dtypes: float64(2), int64(2)
memory usage: 27.9 KB

In [74]:
clf = DecisionTreeClassifier(random_state = 241)
clf.fit(X, y)
importances = clf.feature_importances_
importances

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])

In [75]:
data.head()

   Pclass     Fare   Age  Sex
0       3   7.2500  22.0    0
1       1  71.2833  38.0    1
2       3   7.9250  26.0    1
3       1  53.1000  35.0    1
4       3   8.0500  35.0    0