In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
df['Sex'].describe()

count      891
unique       2
top       male
freq       577
Name: Sex, dtype: object

In [15]:
MaleCount = 577
FemaleCount = 891 - 577
print(MaleCount, FemaleCount)

577 314

In [16]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [20]:
round(df['Survived'].mean()*100,2)

38.38

In [27]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [28]:
round(216/891*100,2)

24.24

In [34]:
age_mean = df['Age'].mean()
age_median = 28.000000
print(age_mean, age_median)

29.69911764705882 28.0

In [31]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [39]:
df[['SibSp','Parch']].corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [60]:
df[df['Sex'] == 'female']['Name']
name_list = list()
for i in df[df['Sex'] == 'female']['Name']:
    name_list.append(i.split('.')[1])

In [53]:
counter = ['Jack','Anna','Jack','Derec','Jhones','Jhones']
c = dict()

for i in counter:
    c[i] = c.get(i,0) + 1
    
print(c)

{'Jack': 2, 'Anna': 1, 'Derec': 1, 'Jhones': 2}

[1, 42, 100]

KeyError: 1

In [80]:
df[df['Sex'] == 'female']['Name']

name_dict = dict()

for name in df[df['Sex'] == 'female']['Name']:
    if 'Mrs.' in name:
        t = name.split('Mrs.')[1]
        if '(' in t:
            t = t.split('(')[1].split()[0]
        else:
            t = t.split()[0]
    if 'Miss.' in name:
        t = name.split('Miss.')[1].split()[0]
    
        
        
    name_dict[t] = name_dict.get(t,0) + 1

In [84]:
t = 0
popular = 0
for key in name_dict.keys():
    if name_dict[key] > t:
        t = name_dict[key]
        popular = key
        
print(popular, name_dict[popular])

Anna 14

In [85]:
df[df['Sex'] == 'female']['Name']

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
22                           McGowan, Miss. Anna "Annie"
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
28                         O'Dwyer, Miss. Ellen "Nellie"
31        Spencer, Mrs. William Augustus (Marie Eugenie)
32                              Glynn, Miss. Mary Agatha
38                    Vander Planke, Miss. Augusta Maria
39                           Nicola-Yarred, Miss. Jamila
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
43              Laroche, Miss. Simonne Marie Anne Andree
44                         Devaney, Miss. Margaret Delia
47                             O'Driscoll, Miss. Bridget
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
56                                     Rugg, Miss. Emily
58                          West, Miss. Constance Mirium
61                                   Icard, Miss. Amelie
                             ...
807                      Pettersson, Miss. Ellen Natalia
809       Chambers, Mrs. Norman Campbell (Bertha Griggs)
813                   Andersson, Miss. Ebba Iris Alfrida
816                         Heininen, Miss. Wendla Maria
820    Hays, Mrs. Charles Melville (Clara Jennings Gr...
823                                   Moor, Mrs. (Beila)
829            Stone, Mrs. George Nelson (Martha Evelyn)
830              Yasbeck, Mrs. Antoni (Selini Alexander)
835                          Compton, Miss. Sara Rebecca
842                              Serepeca, Miss. Augusta
849         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
852                              Boulos, Miss. Nourelain
853                            Lines, Miss. Mary Conover
854        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
855                           Aks, Mrs. Sam (Leah Rosen)
856           Wick, Mrs. George Dennick (Mary Hitchcock)
858                Baclini, Mrs. Solomon (Latifa Qurban)
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
882                         Dahlberg, Miss. Gerda Ulrika
885                 Rice, Mrs. William (Margaret Norton)
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object