In [5]:
import pandas as pd
import numpy as np 
from sklearn import svm

In [2]:
df = pd.read_csv('svm-data.csv', names= ['Target','Feature1','Feature2'])

In [6]:
Y = df['Target']
X =df[['Feature1','Feature2']]

In [7]:
clf = svm.SVC(kernel='linear',C = 100000, random_state= 241)

In [8]:
clf.fit(X,Y)

SVC(C=100000, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=241,
  shrinking=True, tol=0.001, verbose=False)

In [9]:
clf.support_

array([3, 4, 9])

In [10]:
clf.support_vectors_

array([[0.98, 0.68],
       [0.48, 0.39],
       [0.53, 0.53]])

In [11]:
X

   Feature1  Feature2
0      0.70      0.29
1      0.23      0.55
2      0.72      0.42
3      0.98      0.68
4      0.48      0.39
5      0.34      0.73
6      0.44      0.06
7      0.40      0.74
8      0.18      0.18
9      0.53      0.53